<div class="collection-bottom">
  {% unless section.settings.hide_top_section %}
    {% if section.settings.heading != blank or  section.settings.text != blank %}
      <div class="collection-bottom__inner" style="background-color:  {{ section.settings.background_color }};">
        <div class="collection-bottom__contents section-tiny general-section">
          <div class="collection-bottom__contents--inner">
            {% if section.settings.heading != blank %}
              <h2 class="collection-bottom__contents--title t-big">
                {{ section.settings.heading }}
              </h2>
            {% endif %}
            {% if section.settings.text != blank %}
              <div class="collection-bottom__contents--text t-small">
                {{ section.settings.text }}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endunless %}
</div>
{% schema %}
{
  "name": {
    "en": "Collection Bottom"
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Section Text"
    },
    {
      "type": "checkbox",
      "id": "hide_top_section",
      "label": "Hide Top Section",
      "default": false
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    }
  ],
  "presets": [
    {
      "name": "Collection Bottom"
    }
  ]
}
{% endschema %}
