{% if product.description != blank %}
	<div class="section--product-description-full" id="section--description">
    	<div class="wrap--small push--center">
          {{  product.description }}
        </div>
	</div>
{% endif %}